<div class="container">
  <div class='row  d-flex flex-column align-items-center'>

    <div>
      <img src="https://cdn.pixabay.com/photo/2017/01/16/17/45/pancake-1984716__340.jpg"
        style="width: 500px; height:300px;repeat:no-repeat">
    </div>

    <form action="/link" method="post">

      <div>
        <input type="text" name="URL" placeholder="請輸入完整的網址，例如:http://www.google.com.tw" style="width: 600px" required>
      </div>

      <button type="submit">
        Shorten
      </button>
    </form>
  </div>
</div>