<div class="container">
  <div class='row  d-flex flex-column align-items-center'>


    <div>
      <h4 id="title">URL Shortener</h4>
    </div>


    <div>
      <img src="https://cdn.pixabay.com/photo/2019/08/27/21/24/oldtimer-4435361__340.jpg">
    </div>

    {{!-- <form action="/link" method="post"> --}}

    <div>
      <div>
        <h3>Success! Please use this link:</h3>
      </div>

      <div>
        <a id="foo" href='/web/{{Random3}}'>http://localhost:3000/{{Random1}}</a>
      </div>

      <button id="btn" class="copyButton  btn btn-primary" data-clipboard-target="#foo">
        Copy
      </button>


    </div>



  </div>
</div>