<div class="container">
  <div class='row  d-flex flex-column align-items-center'>

    <div>
      <img src="https://cdn.pixabay.com/photo/2017/01/16/17/45/pancake-1984716__340.jpg"
        style="width: 500px; height:300px;repeat:no-repeat">
    </div>

    {{!-- <form action="/link" method="post"> --}}

    <div>
      <div>
        <h3>Success! Please use this link:</h3>
      </div>

      <div>
        <a id="foo" href='/web/{{Random3}}'>{{Random1}}</a>
      </div>
    </div>



    {{!-- </form> --}}
  </div>
</div>