#title{
  margin-top:40px;
  margin-bottom:30px;
}


div img{
  margin-top:0px;
  margin-bottom:70px;
}

#shortenButton{
  margin-top:10px;
  margin-bottom:20px;
  width:300px;
  margin-left:150px;
}

.copyButton{
margin-top:20px;
margin-bottom:30px;
width:100px;
margin-left:150px;
}